ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform:uppercase;
}

h1, h3 {
    color: red;
}

h1 em, h3 em {
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}

li em {
    font-weight:700;
}

.blue {
    color: blue;
}

.pink {
    background-color: pink ;
}

.orange:hover {
    font-weight: bold;
    color: orange;
}

.green:hover {
    font-weight: bold;
    color:green;
}

.black:hover {
    font-weight: bold;
    color: black;
}
.yellow:hover {
    font-weight: bold;
    color: yellow;
}
.greenyellow:hover {
    font-weight: bold;
    color: greenyellow;
}
